<a href="https://colab.research.google.com/github/jiayeewu/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L--Public/blob/main/Week2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2 homework: Numpy and Pandas

In this homework, you will analyze an actual dataset that contains info on ~500.000 individuals. You will calculate the mean and standard deviation of the BMI and waist-to-hip ratio of the males and females in that population.

### Download the following files:

**Data**

https://github.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/numpy/Week2_homework_data.csv?raw=true

(It describes some characteristics of ~ 500.000 individuals)

**Dictionary**

https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/numpy/Week2_homework_dictionary.csv

(it describes the column name of the dataframe)

### Analyze the data:
* *Create a new column with the BMI of the individuals* : BMI = weight [kg] / ( height [m] * height [m]) --> careful, the height for BMI has to be in meters and not centimeters

* *Create a new column with the waist-to-hip ratio of the individuals* : waist-to-hip = waist / hip

* *Find the mean and standard deviation of the BMI of females and males* [Females = 0, Males = 1]

* *Find the mean and standard deviation of the waist-to-hip ratio of females and males* [Females = 0, Males = 1]

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dict_df = pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/numpy/Week2_homework_dictionary.csv')
dict_df

   Unnamed: 0               Description       Code
0           0                    Gender     31-0.0
1           1               Height [cm]     50-0.0
2           2               Weight [Kg]  21002-0.0
3           3  Waist circumference [cm]     48-0.0
4           4    Hip circumference [cm]     49-0.0

In [ ]:
df0 = pd.read_csv('https://github.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/numpy/Week2_homework_data.csv?raw=true')
df0

        Unnamed: 0  31-0.0  48-0.0  49-0.0  50-0.0  21002-0.0
0                0     0.0    80.0   103.0   169.0       68.6
1                1     0.0    80.0    96.0   185.0       70.2
2                2     1.0    89.0    97.0   164.0       71.5
3                3     0.0   101.0   108.0   159.0       82.9
4                4     1.0    97.0   107.0   186.0       94.0
...            ...     ...     ...     ...     ...        ...
499209      502456     0.0   103.0   118.0   168.0       88.6
499210      502457     1.0    85.0   104.0   177.0       80.5
499211      502458     0.0    72.0    93.0   158.0       59.3
499212      502459     0.0    83.0   107.0   167.0       77.2
499213      502460     1.0    86.0   102.0   175.0       81.1

[499214 rows x 6 columns]

In [ ]:
weight = data_df['21002-0.0']
height = data_df['50-0.0']
waist = data_df['48-0.0']
hip = data_df['49-0.0']

In [ ]:
df1 = df0.assign(BMI = (weight/height**2*10000))
df1

        Unnamed: 0  31-0.0  48-0.0  49-0.0  50-0.0  21002-0.0        BMI
0                0     0.0    80.0   103.0   169.0       68.6  24.018767
1                1     0.0    80.0    96.0   185.0       70.2  20.511322
2                2     1.0    89.0    97.0   164.0       71.5  26.583879
3                3     0.0   101.0   108.0   159.0       82.9  32.791424
4                4     1.0    97.0   107.0   186.0       94.0  27.170771
...            ...     ...     ...     ...     ...        ...        ...
499209      502456     0.0   103.0   118.0   168.0       88.6  31.391723
499210      502457     1.0    85.0   104.0   177.0       80.5  25.695043
499211      502458     0.0    72.0    93.0   158.0       59.3  23.754206
499212      502459     0.0    83.0   107.0   167.0       77.2  27.681165
499213      502460     1.0    86.0   102.0   175.0       81.1  26.481633

[499214 rows x 7 columns]

In [ ]:
df2 = df1.assign(waist_to_hip = waist/hip)
df2

        Unnamed: 0  31-0.0  48-0.0  ...  21002-0.0        BMI  waist_to_hip
0                0     0.0    80.0  ...       68.6  24.018767      0.776699
1                1     0.0    80.0  ...       70.2  20.511322      0.833333
2                2     1.0    89.0  ...       71.5  26.583879      0.917526
3                3     0.0   101.0  ...       82.9  32.791424      0.935185
4                4     1.0    97.0  ...       94.0  27.170771      0.906542
...            ...     ...     ...  ...        ...        ...           ...
499209      502456     0.0   103.0  ...       88.6  31.391723      0.872881
499210      502457     1.0    85.0  ...       80.5  25.695043      0.817308
499211      502458     0.0    72.0  ...       59.3  23.754206      0.774194
499212      502459     0.0    83.0  ...       77.2  27.681165      0.775701
499213      502460     1.0    86.0  ...       81.1  26.481633      0.843137

[499214 rows x 8 columns]

In [ ]:
subset_female = df2[df2["31-0.0"] == 0]
subset_female
print("female's BMI mean is",np.mean(subset_female['BMI']))
print("female's BMI standard deviation is",np.std(subset_female['BMI']))
print("female's waist-to-hip mean is",np.mean(subset_female['waist_to_hip']))
print("female's waist-to-hip standard deviation is",np.std(subset_female['waist_to_hip']))

female's BMI mean is 27.0914964589137
female's BMI standard deviation is 5.195464665322677
female's waist-to-hip mean is 0.8179575339770495
female's waist-to-hip standard deviation is 0.0701035927293748

In [ ]:
subset_male = df2[df2["31-0.0"] == 1]
subset_male
print("male's BMI mean is",np.mean(subset_male['BMI']))
print("male's BMI standard deviation is",np.std(subset_male['BMI']))
print("male's waist-to-hip mean is",np.mean(subset_male['waist_to_hip']))
print("male's waist-to-hip standard deviation is",np.std(subset_male['waist_to_hip']))

male's BMI mean is 27.83811796618345
male's BMI standard deviation is 4.2470209608327565
male's waist-to-hip mean is 0.9358285534665348
male's waist-to-hip standard deviation is 0.06523575861845037